

After login page for recruiters
<div>
		<%= link_to 'Add a job', new_recruiters_job_path %>
</div>
	
<div>
		<%= link_to 'List job', recruiters_jobs_path %>
</div>
	
<div>
		<%= link_to 'Recived application ', candidates_recruiters_jobs_path %>
</div>
	

<%= link_to 'Sign out', destroy_user_session_path ,:method => :delete %>