<div class="search-job-area bg-5">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 col-lg-12 ml-auto mr-auto">
                            <div class="job-search-content text-center">
                                <h4>One million success stories</h4>
                                <h2>find job our website</h2>
                                <form action="#" method="post">
                                    <div class="form-container">
                                        <div class="box-select">
                                            <div class="select">
                                                <select name="category" style="display: none;">
                                                    <option>Keywords</option>
                                                    <option>Finance</option>
                                                    <option>Accountant</option>
                                                    <option>Enginner</option>
                                                    <option>Programmer</option>
                                                    <option>Developer</option>
                                                </select><div class="nice-select" tabindex="0"><span class="current">Keywords</span><ul class="list"><li data-value="Keywords" class="option selected">Keywords</li><li data-value="Finance" class="option">Finance</li><li data-value="Accountant" class="option">Accountant</li><li data-value="Enginner" class="option">Enginner</li><li data-value="Programmer" class="option">Programmer</li><li data-value="Developer" class="option">Developer</li></ul></div>
                                            </div>
                                            <div class="select">
                                                <select name="date" style="display: none;">
                                                    <option>All Regions</option>
                                                    <option>Dhaka</option>
                                                    <option>Shylet</option>
                                                    <option>Khulna</option>
                                                    <option>Barishal</option>
                                                    <option>Chittagong</option>
                                                </select><div class="nice-select" tabindex="0"><span class="current">All Regions</span><ul class="list"><li data-value="All Regions" class="option selected">All Regions</li><li data-value="Dhaka" class="option">Dhaka</li><li data-value="Shylet" class="option">Shylet</li><li data-value="Khulna" class="option">Khulna</li><li data-value="Barishal" class="option">Barishal</li><li data-value="Chittagong" class="option">Chittagong</li></ul></div>
                                            </div>
                                            <div class="select">
                                                <select name="date" style="display: none;">
                                                    <option>Category</option>
                                                    <option>Web Design</option>
                                                    <option>Designing</option>
                                                    <option>Development</option>
                                                    <option>Programming</option>
                                                    <option>Developing</option>
                                                </select><div class="nice-select" tabindex="0"><span class="current">Category</span><ul class="list"><li data-value="Category" class="option selected">Category</li><li data-value="Web Design" class="option">Web Design</li><li data-value="Designing" class="option">Designing</li><li data-value="Development" class="option">Development</li><li data-value="Programming" class="option">Programming</li><li data-value="Developing" class="option">Developing</li></ul></div>
                                            </div>
                                            <div class="select">
                                                <button type="button">Search</button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<div class="job-categroy-area2 pt-130 pb-100 pt-sm-60 pb-sm-40">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title text-center ">
                                    <h2>Job Category </h2>
                                    <p>Lorem ipsum dolor sit amet, contetur adipisil elit sed do</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="category-item2">
                                    <div class="img-icon">
                                        <img src="images/icons/h2c1.png" alt="">
                                    </div>
                                    <div class="cat-text">
                                        <h5>Hotel &amp; Restaurant</h5>
                                        <h6>(16 Jobs)</h6>
                                    </div>
                                </div>                                
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="category-item2">
                                    <div class="img-icon">
                                        <img src="images/icons/h2c2.png" alt="">
                                    </div>
                                    <div class="cat-text">
                                        <h5>Education &amp; Training</h5>
                                        <h6>(18 Jobs)</h6>
                                    </div>
                                </div>                                
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="category-item2">
                                    <div class="img-icon">
                                        <img src="images/icons/h2c3.png" alt="">
                                    </div>
                                    <div class="cat-text">
                                        <h5>Finance &amp; Accounting</h5>
                                        <h6>(15 Jobs)</h6>
                                    </div>
                                </div>                                
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="category-item2">
                                    <div class="img-icon">
                                        <img src="images/icons/h2c4.png" alt="">
                                    </div>
                                    <div class="cat-text">
                                        <h5>Medical &amp; Health</h5>
                                        <h6>(12 Jobs)</h6>
                                    </div>
                                </div>                                
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="category-item2">
                                    <div class="img-icon">
                                        <img src="images/icons/h2c5.png" alt="">
                                    </div>
                                    <div class="cat-text">
                                        <h5>Ecommerce &amp; Fashion</h5>
                                        <h6>(16 Jobs)</h6>
                                    </div>
                                </div>                                
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="category-item2">
                                    <div class="img-icon">
                                        <img src="images/icons/h2c6.png" alt="">
                                    </div>
                                    <div class="cat-text">
                                        <h5>Banking &amp; Management</h5>
                                        <h6>(18 Jobs)</h6>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
<div class="job-post-area pb-100 pb-sm-35">
                <div class="container">
                    <!-- Section Title Start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center ">
                                <h2>All Job</h2>
                                <p>Lorem ipsum dolor sit amet, contetur adipisil elit sed do</p>
                            </div>
                        </div>
                    </div>
                    <!-- Section Title End -->
                    <div class="all-job-post">
                        <!-- Nav tabs -->
                        <div class="post-tab nav">
                            <a class="nav-link active show" data-toggle="tab" href="#featured">FEATURED JOBS</a>
                            <a class="nav-link" data-toggle="tab" href="#recent_job">RECENT JOBS</a>
                            <a class="nav-link" data-toggle="tab" href="#featured">PART TIME</a>
                            <a class="nav-link" data-toggle="tab" href="#recent_job">FULL TIME</a>
                        </div>                            
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active show" id="featured">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Online English Teachers</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Teacher</p>
                                                <p>Date : 14.05.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Hiring Web designer &amp; Developer</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Designer</p>
                                                <p>Date : 12.06.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>SEO Analiyst &amp; Reviewer</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Designer</p>
                                                <p>Date : 11.02.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Content Writer and Speaker</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Education</p>
                                                <p>Date : 14.09.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Hiring Online English Teachers</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Designer</p>
                                                <p>Date : 14.09.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Social Media Expert</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Media</p>
                                                <p>Date : 14.09.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="recent_job">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Font-End Develper</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Web</p>
                                                <p>Date : 18.05.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Senior Software Engineer</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Engineering</p>
                                                <p>Date : 11.05.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Platform/Backend Engineer</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Engineering</p>
                                                <p>Date : 09.02.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Social media Specialist</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Media</p>
                                                <p>Date : 01.10.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Platform/Backend Engineer</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Engineering</p>
                                                <p>Date : 09.02.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Hiring Online English Teachers</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Designer</p>
                                                <p>Date : 14.09.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          <div class="woring-area2 pt-130 pb-100 pt-sm-60 pb-sm-30">
                    <div class="container">
                        <!-- Section Title Start -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title text-center ">
                                    <h2>How It Works</h2>
                                    <p>Lorem ipsum dolor sit amet, contetur adipisil elit sed do</p>
                                </div>
                            </div>
                        </div>
                        <!-- Section Title End -->
                        <div class="row work-shap work-shop2">
                            <div class="col-md-4">
                                <div class="work-item">
                                    <div class="img-icon">
                                        <img src="images/icons/wrk1.png" alt="">
                                        <span>1</span>
                                    </div>
                                    <h5>Create An Account</h5>
                                    <p>Lorem ipsum dolor sit amet, contetur adipisil elit, sed do eiusmod tempor incididunt ut lab et dolore magna aliqua.</p>
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="work-item">
                                    <div class="img-icon">
                                        <img src="images/icons/wrk2.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <h5>Search Desired Job</h5>
                                    <p>Lorem ipsum dolor sit amet, contetur adipisil elit, sed do eiusmod tempor incididunt ut lab et dolore magna aliqua.</p>
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="work-item">
                                    <div class="img-icon">
                                        <img src="images/icons/wrk3.png" alt="">
                                        <span>3</span>
                                    </div>
                                    <h5>Send Your Resume</h5>
                                    <p>Lorem ipsum dolor sit amet, contetur adipisil elit, sed do eiusmod tempor incididunt ut lab et dolore magna aliqua.</p>
                                </div> 
                            </div>
                        </div>                        
                    </div>
                </div>