
<section class="contact-section">
            <div class="container">
                
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Upgrade to Premium</h2>
                    </div>
                    <div class="col-lg-8">
                       <section class="text-media-block text-media-block-left " style="">
<div class="body background-align-right dark lazy-load-src" style="background-image:url(/content/dam/premium/site/img/gray_imageright.jpg)">
<div class="feature-text-container">
<div class="feature-text-content mobile-text-center group wide">
<p class="feature-headline dark">See full names and profiles for more candidates</p>
<div class="feature-paragraph rich-text dark"><p>Get full name and profile visibility for your full network and see 35x more profiles. This makes it easier for you to find relevant talent every time you conduct a search on LinkedIn. Plus, search within your LinkedIn groups to see tens of thousands of additional relevant profiles for recruiting.</p> </div>
</div>
</div>

</div>
</section>
                        <!-- <form class="form-contact contact_form" action="/subscriptions" method="post" id="contactForm" novalidate="novalidate"> -->
                      
                            <div class="form-group mt-3">
                                <!-- <button type="submit" class="button button-contactForm boxed-btn">Subscribe</button> -->
                                <a href="javascript:void(0);"  class=" button button-contactForm boxed-btn" title="Book a Lesson" data-toggle="modal" data-target="#bookLesson" >Subscribe</a>
                            </div>
                    </div>
                </div>
            </div>
        </section>
<%= render partial:'payment_modal'%>
